/* common */
/* sm screen */
body {
  margin:  0;
}

aside {
  display: none;
}


.image {
  background-color: pink;
  height: 100px;
}

.text {
  background-color: silver;
  height: 100px;
}


/* md dcreen */
@media (min-width: 600px) {
  section {
    display: flex;
  }

  .image {
    width: 200px;
  }

  .text {
    flex: 1;
  }
  
}


/* lg-dcreen */
@media (min-width: 800px)  {
  section {
    width : 800px;
    margin: 0 auto;
  }

  aside {
    display : block;
    background-color: plum;
    width: 160px;
  }
}